* html img, 
* html .png{
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)

);
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	color:#000;
	background:url(../images/bannerBg.png) repeat-x left top
}
ul.ul{
	margin:0;
	padding:0;
	list-style:none;
}
a:link, a:visited{
	text-decoration:none;
	color:#314c65}	
a:hover, a:active{
	color:#c00;
	text-decoration:none}	
img.img{
	padding:1px;
	border:1px solid #CCCCCC}	
img.float{
	float:left}	
form{
	margin:0;
	padding:0}	
	
span.date{
	display:block;
	font-size:11px;
	color:#999999}	

div.body{
	margin:0 auto;
	width:1000px;}
	
div.box{
	margin-bottom:7px;
	zoom:1
}	
	
div.header div.headTop{
	background:url(../images/banner.png) no-repeat left top;
	height:120px;
	overflow:hidden;
	position:relative}	

div.header div.headTop ul li.headTopL{
	float:left;
	padding-left:40px;
	padding-top:35px;
}

div.header div.headTop ul li.headTopR{
	float:right;
	width:700px;
}

div.header div.headTop ul li.headTopR div.headPath{
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	padding-top:12px;
	text-align:right
}

div.header div.headTop ul li.headTopR div.headPath a:visited,
div.header div.headTop ul li.headTopR div.headPath a:link{
	color:#000000;
}

div.header div.headTop ul li.headTopR div.headPath a:hover,
div.header div.headTop ul li.headTopR div.headPath a:active{
	color:#fff;
}

div.header div.headTop ul li.headTopR div.form{
	padding-top:22px
}

div.header div.headTop ul li.headTopR div.form li.search{
	float:left;
	width:344px;
	height:68px;
	overflow:hidden;
	position:relative
}
div.header div.headTop ul li.headTopR div.form li.search li.timkiem{
	text-transform:uppercase;
	float:left;
	font-weight:bold;
	color:#a2a2a2;
	padding-top:42px;
	width:76px;
	text-align:center;
	font-family:Tahoma
}
div.header div.headTop ul li.headTopR div.form li.search li.sform{
	float:right;
	width:256px;
	margin-right:10px;
	*margin-right:2px;}
	
div.header div.headTop ul li.headTopR div.form li.search li.sform li{
	float:left;
	height:28px;
	overflow:hidden;
	position:relative;
	margin-right:5px;	
}

div.header div.headTop ul li.headTopR div.form li.search li.sform li a:visited,
div.header div.headTop ul li.headTopR div.form li.search li.sform li a:link{
	display:block;
	float:left;
	line-height:22px;
	padding:0 10px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
	outline:none
}
div.header div.headTop ul li.headTopR div.form li.search li.sform li.selected{
	background:url(../images/searchTabs.gif) no-repeat center bottom;
}
div.header div.headTop ul li.headTopR div.form li.search li.sform li.selected a:visited,
div.header div.headTop ul li.headTopR div.form li.search li.sform li.selected a:link{
	color:#FFFFFF;
}

div.header div.headTop ul li.headTopR div.form li.search li.sform div.searchIp{
	clear:both}
	
div.header div.headTop ul li.headTopR div.form li.search li.sform div.searchIp li.searchIp{
	float:left;
	width:210px;
	padding-top:1px}

div.header div.headTop ul li.headTopR div.form li.search li.sform div.searchIp li.searchIp input.searchIp{
	width:206px;
	*width:200px;
}
div.header div.headTop ul li.headTopR div.form li.search li.sform div.searchIp li.submit{
	float:right;
	width:33px;}

div.header div.headTop ul li.headTopR div.form li.search li.sform div.searchIp li.submit a:visited,
div.header div.headTop ul li.headTopR div.form li.search li.sform div.searchIp li.submit a:link{
	display:inline;
	float:none;
	padding:0;
}

div.header div.headTop ul li.headTopR div.form li.login{
	float:right;
	width:316px;
}

div.header div.headTop ul li.headTopR div.form li.login ul li{
	float:left;
	margin-right:3px;
	font-weight:bold;
	font-size:11px;
	color:#FFFFFF;
	font-family:Tahoma;
}
div.header div.headTop ul li.headTopR div.form li.login ul li div{
	padding-bottom:3px;
}
div.header div.headTop ul li.headTopR div.form li.login ul li.user input, div.header div.headTop ul li.headTopR div.form li.login ul li.pass input, div.header div.headTop ul li.headTopR div.form li.login ul li.submitlog input{
	width:108px;
	background:#fff;
	border:1px solid #5890a6;
	font-size:11px;
	font-weight:bold;
	padding:3px;
	height:14px;
}
div.header div.headTop ul li.headTopR div.form li.login ul li.submitlog{
	background:#04528d;
	height:21px;
	margin-top:16px;
	overflow:hidden;
	position:relative}

div.header div.headTop ul li.headTopR div.form li.login ul li.regAndFor{
	font-weight:bold;
	clear:both;
	padding-top:2px;
	width:100%;
	float:none;
}

div.header div.headTop ul li.headTopR div.form li.login ul li.regAndFor a:visited,
div.header div.headTop ul li.headTopR div.form li.login ul li.regAndFor a:link{
	color:#004477;
	text-decoration:underline;
	font-size:11px;
	font-family:Tahoma;
	padding-top:5px
}

div.mainCols{
	padding:7px 0;
}	

div.mainCols div.mainCols_L{
	float:left;
	width:190px;
	margin-right:7px;
}

div.mainCols div.mainCols_C{
	float:left;
	width:740px;
}	
div.mainCols div.mainCols_R{
	float:right;
	width:254px;
}	

div.footer{
	background:url(../images/footer.gif) repeat-x left top;
	padding-bottom:5px;
	position:relative;
}

div.footer div.inFooter{
	width:1000px;
	margin:0 auto;
}

div.footer div.footerPath{
	height:32px;
	text-transform:uppercase;
	font-family:Tahoma;
	font-weight:bold;
	text-align:center;
	line-height:32px;
}

div.footer div.footerPath  a:visited,
div.footer div.footerPath a:link{
	color:#fff;
}
div.footer div.footerPath a:hover,
div.footer div.footerPath a:active{
	color:#000;
}

div.footer div.footerPath1{
    margin-top:3px;
    margin-bottom:10px;
	/*font-weight:bold;*/
	text-align:center
}	
div.footer div.footerPath1 a:visited,
div.footer div.footerPath1 a:link{
	color:#003d57;
}
div.footer div.footerPath1 a:hover,
div.footer div.footerPath1 a:active{
	color:#c00;
	text-decoration:underline
}


div.footer div.info{
	font-size:11px;
	font-family:Tahoma;
	line-height:16px;
	text-align:right;
	height:56px;
	padding-top:5px; margin-top:5px; padding:5px;
}

div.header div.navbar{
	background:#e7f8ff;
	height:33px;
	border-bottom:2px solid #ffaf00
}
	
div.navbar ul li{
	float:left;
	text-transform:uppercase;
	font-size:11px;
	font-family:Tahoma;
	font-weight:bold;
	height:33px;
}

div.navbar ul li a:visited,
div.navbar ul li a:link{
	display:block;
	float:left;
	line-height:33px;
	padding:0 10px;
}
div.navbar ul li.postnews{
	float:right;
	margin:0;
	padding:0;
	padding-top:5px;
	height:28px;
	overflow:hidden;
	position:relative
}
div.navbar ul li.postnews a:visited,
div.navbar ul li.postnews a:link{
	margin:0;
	padding:0;
	line-height:normal;
}
div.navbar ul li.hideNavSub div.navSub{
	display:none;
}

div.navbar ul li.showNavSub a.cat:visited,
div.navbar ul li.showNavSub a.cat:link{
	background:#24aee7;
	color:#FFFFFF;
}

div.navbar ul li.showNavSub div.navSub{
	position:absolute;
	background:#24aee7;
	width:180px;
	z-index:3000;
	padding:0 5px;
}
div.navbar ul li.showNavSub div.navSub a:visited,
div.navbar ul li.showNavSub div.navSub a:link{
	float:none;
	text-transform:none;
	color:#fff;
	line-height:28px;
	border-top:1px solid #a7e3fc;
}


div.header div.headInfo{
	margin-top:5px;
	background:#f8f8f8;
	height:28px;
}

div.headInfo ul li{
	float:left;
	font-size:11px;
	font-family:Tahoma;
	line-height:28px
}
div.headInfo ul li.date{
	color:#6a6a6a;
	width:178px;
	background:url(../images/arrow.png) no-repeat 3px 10px;
	padding-left:18px;
}
div.headInfo ul li.supportIco{
	padding-top:5px;
}
div.headInfo ul li.location{
	float:right;
}
div.headInfo ul li.rates{
	color:#204c5e;
	width:268px;
	color:#c00
}
div.headInfo ul li.location a:visited,
div.headInfo ul li.location a:link{
	color:#00477e
}

div.headInfo ul li.location a:hover,
div.headInfo ul li.location a:active,
div.headInfo ul li.location a.active:visited,
div.headInfo ul li.location a.active:link{
	color:#ff6000
}

div.advMainTop li{
	width:364px;
	float:left;
}
div.advMainTop li.right{
	float:right;
}

div.catList li.items{
	float:left;
	width:364px;
	padding-right:7px;
	zoom:1;
	margin-bottom:7px;
}
div.catList li.items.rItems{
	float:right;
	padding:0
}

div.catList li.clear{
	clear:both;
	width:99%;
	line-height:0;
	padding:0;
}

div.catList div.catTitle{
	background:url(../images/catBg1.png) no-repeat left top;
	line-height:27px;
	text-transform:uppercase;
	font-weight:bold;
	text-indent:30px;
	font-size:11px;
	font-family:Tahoma}

div.catList div.catTitle.catTitle2{	
	background:url(../images/catBg2.png) no-repeat left top;
}
div.catList div.boxCt{
	border:1px solid #e4e9db
}
div.catList div.boxCt div.items{
	line-height:24px;
	text-indent:22px;
	background-image:url(../images/arrow.gif);
	background-repeat:no-repeat;
	background-position:6px 50%;
	font-size:11px;
	font-family:Tahoma
}
div.catList div.boxCt div.items.rows1{
	background-color:#f4fcff;
}
div.catList div.boxCt div.items a:visited,
div.catList div.boxCt div.items a:link{
	color:#004b64;
}
div.catList div.boxCt div.items a:hover,
div.catList div.boxCt div.items a:active{
	color:#c00;
}
div.sAdv div.items{
	padding-top:3px}

div.box h4.boxTitle{
	font-size:12px;
	padding:0;
	margin:0;
	background:url(../images/boxTitle.png) repeat-x left top;
	height:26px
}

div.box h4.boxTitle div.bgL{
	background:url(../images/boxTitle.png) no-repeat left -28px;
	line-height:26px;
	text-indent:35px;
}

div.boxCt.category{
	background:#f1fafd}

div.boxCt.category ul li{
	line-height:26px;
	font-weight:bold;
	border-top:1px dashed #CCCCCC;
	padding-left:10px
}	

div.boxCt.category ul li span{
	color:#999;
}

div.box.boxMain h4.boxTitle{
	background:url(../images/boxTitle1.png) repeat-x left top;
	height:27px;
	text-transform:uppercase;
	font-size:11px;
	color:#fff
}
div.box.boxMain h4.boxTitle div.bgL{
	background:url(../images/boxTitle1.png) no-repeat left -29px;
}
div.box.boxMain h4.boxTitle div.bgR{
	background:url(../images/boxTitle1.png) no-repeat right -58px;
	line-height:27px;
}
div.box.boxMain h4.boxTitle a:visited,
div.box.boxMain h4.boxTitle a:link{
	color:#FFFFFF;
}
div.box.boxMain h4.boxTitle a:hover,
div.box.boxMain h4.boxTitle a:active{
	color:#000;
}
div.box.boxMain h4.boxTitle span.space{
	color:#000000;
	position:relative;
	top:-1px
}

div.boxCt.subCat{
	border:1px solid #ace0f6;
	padding:5px 10px}

div.boxCt.subCat div.items{
	float:left;
	width:170px;
	background:url(../images/buliet.gif) no-repeat left 9px;
	line-height:20px;
	margin-right:5px;
	font-size:11px;
	font-family:Tahoma;
	text-indent:8px
}
div.boxCt.subCat div.items.rItems{
	float:right;
	margin-right:0;
}
div.boxCt.subCat div.items a:visited,
div.boxCt.subCat div.items a:link{
	color:#f17100
}
div.boxCt.subCat div.items span{
	color:#999999}
	
div.box.boxMain	h4.boxTitle.bg1{
	background:#ffc546 url(../images/star.png) no-repeat 5px 5px;
	height:26px;
	line-height:26px;
	padding:0 5px;
	padding-left:25px;}

div.box.boxMain	h4.boxTitle.bg1 a:visited,
div.box.boxMain	h4.boxTitle.bg1 a:link{
	color:#870e0e
}
div.box.boxMain	h4.boxTitle.bg1 a:hover,
div.box.boxMain	h4.boxTitle.bg1 a:active{
	color:#000000
}
div.box.boxMain	h4.boxTitle.bg1 a img.ico{
	margin-right:5px;
	position:relative;
	top:-2px
}

div.box.boxMain	h4.boxTitle.bg1 span a:visited,
div.box.boxMain	h4.boxTitle.bg1 span a:link{
	text-transform:none;
	color:#333;
	font-weight:normal
}
div.box.boxMain	h4.boxTitle.bg1 span a:hover,
div.box.boxMain	h4.boxTitle.bg1 span a:active{
	color:#c00
}
div.boxCt.newsList.bgFcfcf1{
	background:#fcfcf1;
}
div.boxCt.newsList.bgF5f5f5{
	background:#f5f5f5;
}
div.boxCt.newsList div.items{
	font-size:11px;
	font-family:Tahoma;
	padding:10px 5px;
	text-align:justify;
	border-top:1px solid #f1f1f1
}
div.boxCt.newsList.bgF5f5f5 div.items{
	border-color:#fff;
}

div.boxCt.newsList div.items img.float{
	margin-right:10px;
}

div.boxCt.newsList div.items a.title:visited,
div.boxCt.newsList div.items a.title:link{
	display:block;
	clear:both;
	font-weight:bold;
	margin-bottom:5px
}
div.boxCt.newsList div.items div.desc{
	color:#333333
}
div.boxCt.newsList div.items span.date{
	text-align:right}

div.pages{
	font-size:11px;
	font-family:Tahoma;
	text-align:right;
	padding:10px 5px;
	color:#333333
}

div.pages a:link,
div.pages a:visited{
	display:block;
	float:left;
	background:#ccc;
	padding:2px 5px;
	font-weight:bold
}

div.pages a.active:visited,
div.pages a.active:link{
	background:#ffc546;
	color:#FFFFFF
}	

div.box.boxMain.newsView h4.boxTitle{
	color:#000000;
	text-transform:none;
	font-size:12px;
	margin-bottom:2px
}
div.box.boxMain.newsView div.desc{
	border:1px solid #ffc546;
	padding:5px;
	line-height:18px;
	margin-bottom:5px
}

div.box.boxMain.newsView div.newsInfo{
	background:#fff2d6;
}
div.box.boxMain.newsView div.newsInfo ul li{
	float:left;
	width:270px;
	font-size:11px;
	font-family:Tahoma;
	border:0
}
div.box.boxMain.newsView div.newsInfo ul li.right{
	float:right;
	border-left:2px solid #FFFFFF;
}
div.box.boxMain.newsView div.newsInfo ul li div{
	padding:3px 5px;
	color:#5d5d5d
}
div.box.boxMain.newsView div.newsInfo ul li div span{
	color:#000;
}



div.box.arrNewsList div.newsInfo{
	background:#fff2d6;
}
div.box.arrNewsList div.newsInfo ul li{
	float:left;
	width:350px;
	font-size:11px;
	font-family:Tahoma;
	border:0
}
div.box.arrNewsList div.newsInfo ul li.right{
	float:right;
	border-left:2px solid #FFFFFF;
}
div.box.arrNewsList div.newsInfo ul li div{
	padding:3px 5px;
	color:#5d5d5d
}
div.box.arrNewsList div.newsInfo ul li div span{
	color:#000;
}

div.newsOther{
	padding:1px 0;
}
div.newsOther div.title{
	background:#ebebeb;
	padding:0 2px;
	line-height:20px;
	font-weight:bold;
	color:#333333;
	text-transform:uppercase;
}
div.newsOther div.items{
	font-size:11px;
	font-weight:bold;
	border-top:1px dashed #CCCCCC;
	padding-left:17px;
	height: 20px;
	border: 0;
	background:url(../images/arrow1.gif) no-repeat 5px 5px; 
}

div.newsOther div.items span{
	color:#999;
}

div.box.sNews h2.boxTitle{
	margin:0;
	padding:0;
	font-size:11px;
	text-transform:uppercase;
	background:url(../images/box/boxTitle_style1.gif) no-repeat left top;
	line-height:27px;
	padding-left:30px;
	color:#FFFFFF;
	margin-bottom:1px;
}
div.box.sNews div.boxCt{
	border:1px solid #bcd6ab;
	padding:5px 10px;
	background:#f1faeb;
	border-bottom:0;
}
div.box.sNews div.boxCt ul{
	margin:0;
	padding:0;
	list-style:none;
}
div.box.sNews div.boxCt div.scrollNewsLatest{
	height:175px
}
div.box.sNews div.boxCt ul li{
	padding:5px 0;
	height:15px;
	background:url(../images/box/arrow.gif) no-repeat left 9px;
	padding-left:15px;
	font-size:11px;
	font-family:Tahoma
}
div.box.sNews div.boxCt ul li a:visited,
div.box.sNews div.boxCt ul li a:link{
	display:block;
	height:15px;
	overflow:hidden;
	position:relative;
	color:#388b00;
}
div.box.sNews div.boxCt ul li a:hover,
div.box.sNews div.boxCt ul li a:active{
	color:#000000;
	text-decoration:underline
}
div.box div.boxStyle1BL{
	background:url(../images/box/boxTitle_styleBL.gif) no-repeat left top;
	text-align:right}

/* ============================================ */
div.arrNewsList .location{
	border-bottom:2px solid #c6eeff;
	position:relative;
	height:25px;
	margin-bottom:2px
}	
div.arrNewsList .location ul.categories{
	position:absolute;
	right:0;
	top:0
}
div.arrNewsList .location ul.categories{
	padding-right:5px;
	background:#c6eeff;
	height:25px;
}
div.arrNewsList .location ul.categories li{
	float:left;	
	height:25px;
	line-height:25px;	
	font-weight:bold;
	color:#848484;
	font-size:11px
}
div.arrNewsList .location ul.categories li#more_categories{
	text-transform:uppercase;
	color:#013376;
	padding-right:15px;
	padding-left:30px;
	background:url(../images/down.gif) no-repeat right 8px;
	position:relative;
	cursor:pointer
}
div.arrNewsList .location ul.categories li#more_categories.select{
	color:#c00
}
div.arrNewsList .location ul.categories li#more_categories .more_categories_list{
	position:absolute;
	right:-5px;
	top:25px;
	background:#ebf8ff;
	width:350px;
	border:1px solid #CCCCCC;
	padding:5px;
	text-transform:none;
	display:none
}
div.arrNewsList .location ul.categories li#more_categories .more_categories_list li{
	float:left;
	width:150px;
	line-height:normal;
	padding:5px 0;
	height:auto;
	font-size:12px;
	background:url(../images/buliet2.gif) no-repeat left 10px;
	padding-left:10px;
	font-weight:normal
}
div.arrNewsList .location ul.categories li#more_categories .more_categories_list li a:visited,
div.arrNewsList .location ul.categories li#more_categories .more_categories_list li a:link{
	color:#02393c;
}
div.arrNewsList .location ul.categories li#more_categories .more_categories_list li a:hover,
div.arrNewsList .location ul.categories li#more_categories .more_categories_list li a:active{
	color:#c00;
	text-decoration:underline
}
div.arrNewsList .location ul.categories li#more_categories .more_categories_list .closes{
	position:absolute;
	right:5px;
	top:5px;
}
div.arrNewsList .location ul.location{
	position:absolute;
	left:0;
	top:0;
	width:420px
}
div.arrNewsList .location ul.location li{
	float:left;
	margin-right:20px;
	font-size:11px;
	font-weight:bold;
	font-family:Tahoma;
	line-height:25px;
	color:#013376;
}
div.arrNewsList .location ul.location a:visited,
div.arrNewsList .location ul.location a:link{
	color:#013376;
}
div.arrNewsList .location ul.location a:hover,
div.arrNewsList .location ul.location a:active{
	color:#c00;
	text-decoration:underline
}
div.arrNewsList .location ul.location li#location_more{
	background:url(../images/down_w.gif) no-repeat right 10px;
	padding:0 5px;
	padding-right:15px;
	position:relative;
	float:right
}
div.arrNewsList .location ul.location li#location_more a:visited,
div.arrNewsList .location ul.location li#location_more a:link{
	outline:none
}
div.arrNewsList .location ul.location li#location_more.select a.cat:visited,
div.arrNewsList .location ul.location li#location_more.select a.cat:link{
	color:#000;
	text-decoration:none
}
div.arrNewsList .location ul.location li#location_more.select{
	background:#c7eeff;
	border-bottom:2px solid #CCCCCC
}

div.arrNewsList .location ul.location li#location_more .loca_more_list{
	position:absolute;
	background:#ffffed;
	padding:10px;
	padding-top:5px;
	padding-right:0;
	border:1px solid #ccc;
	right:0;
	top:25px;
	left:auto;
	width:360px;
	display:none
}
div.arrNewsList .location ul.location li#location_more .loca_more_list .lclose{
	right:5px;
	position:absolute;
	top:5px;
	cursor:pointer
}
div.arrNewsList .location ul.location li#location_more .loca_more_list .all{
	text-transform:uppercase;
	text-align:center;
}
div.arrNewsList .location ul.location li#location_more .loca_more_list li{
	float:left;
	width:110px;
	margin-right:3px;
	height:auto;
	line-height:normal;
	font-weight:normal;
	padding:2px 0
}
div.arrNewsList .location ul.location li#location_more .loca_more_list li.ltitle{
	font-size:13px;
	color:#d44a00;
	padding-bottom:5px;
	font-weight:bold
}






div.arrNewsList .location ul.location li#location_more_dis{
	background:url(../images/down_w.gif) no-repeat right 10px;
	padding:0 5px;
	padding-right:15px;
	position:relative;
	float:right
}
div.arrNewsList .location ul.location li#location_more_dis a:visited,
div.arrNewsList .location ul.location li#location_more_dis a:link{
	outline:none
}
div.arrNewsList .location ul.location li#location_more_dis.select a.cat:visited,
div.arrNewsList .location ul.location li#location_more_dis.select a.cat:link{
	color:#000;
	text-decoration:none
}
div.arrNewsList .location ul.location li#location_more_dis.select{
	background:#c7eeff;
	border-bottom:2px solid #CCCCCC
}


div.arrNewsList .location ul.location li#location_more_dis .location_more_dis_list{
	position:absolute;
	background:#ffffed;
	padding:10px;
	padding-top:5px;
	padding-right:0;
	border:1px solid #ccc;
	right:0;
	top:25px;
	left:auto;
	width:400px;
	display:none
}
div.arrNewsList .location ul.location li#location_more_dis .location_more_dis_list .lclose{
	right:5px;
	position:absolute;
	top:5px;
	cursor:pointer
}
div.arrNewsList .location ul.location li#location_more_dis .location_more_dis_list .all{
	text-transform:uppercase;
	text-align:center;
}
div.arrNewsList .location ul.location li#location_more_dis .location_more_dis_list li{
	float:left;
	width:130px;
	margin-right:3px;
	height:auto;
	line-height:normal;
	font-weight:normal;
	padding:2px 0
}
div.arrNewsList .location ul.location li#location_more_dis .location_more_dis_list li.ltitle{
	font-size:13px;
	color:#d44a00;
	padding-bottom:5px;
	font-weight:bold
}


div.arrNewsList div.catShow{
	background:#fffef0;
	border:1px solid #e4e4e4;
	padding:10px}

div.arrNewsList div.catShow li{
	float:left;
	background:url(../images/buliet2.gif) no-repeat left 7px;
	width:160px;
	padding:3px 0;
	padding-left:10px;
	margin-right:6px;
	font-size:11px;
	font-weight:bold;
	font-family:Tahoma
}	
div.arrNewsList div.catShow li.right{
	float:right;
	margin-right:0;
}
div.arrNewsList div.catShow li a:visited,
div.arrNewsList div.catShow li a:link{
	color:#607b97
}
div.arrNewsList div.catShow li a:hover,
div.arrNewsList div.catShow li a:active{
	color:#c00;
	text-decoration:underline
}
div.arrNewsList h1.boxTitle{
	text-transform:uppercase;
	background:#ffbd2e;
	font-size:12px;
	color:#FFFFFF;
	height:22px;
	line-height:22px;
	padding-left:8px;
	margin-bottom:1px
}
div.arrNewsList h2.boxTitle{
	text-transform:uppercase;
	background:#ffbd2e;
	font-size:12px;
	color:#FFFFFF;
	height:22px;
	line-height:22px;
	padding-left:8px;
	margin-bottom:1px
}
div.arrNewsList .boxbor{
	border:1px solid #ffbd2e;
	padding:0 10px}

div.arrNewsList .listNews{
	font-size:11px;
	font-family:Tahoma}

div.arrNewsList .listNews h2.newTitle{
	font-size:11px;
	clear:both;
	padding:0;
	margin:0;
	padding-bottom:7px
}

div.arrNewsList .listNews h2.newTitle a:hover{
	text-decoration:underline
}
	
div.arrNewsList .listNews .items{
	padding:10px 0;
	border:1px solid #CCCCCC;
	border-width:1px 0 0 0;
}	
div.arrNewsList .listNews img.float{
	margin-right:10px;
}
div.arrNewsList .listNews .desc{
	text-align:justify;
}
div.arrNewsList .listNews .date{
	text-align:right;
	color:#4383a8
}

.higlight
{
	/*background: #000099;*/
	font-weight:bold;
}






div.newsCat{
	padding-top:10px}

div.newsCat div.boxNewsCat{
	width:718px;
	margin-bottom:5px;
}

div.newsCat div.boxNewsCatL{
	float:left;
}

div.newsCat div.boxNewsCatR{
	float:right;
}


div.newsCat div.boxNewsCat div.boxBgBL{
	background:url(../images/newsCat/bgBL.png) no-repeat left bottom}	

div.newsCat div.boxNewsCat div.boxBgBR{
	background:url(../images/newsCat/bgBR.png) no-repeat right bottom;}	

div.newsCat div.boxNewsCat div.boxBgTL{
	background:url(../images/newsCat/bgTL.png) no-repeat left top}

div.newsCat div.boxNewsCat div.boxBgTR{
	background:url(../images/newsCat/bgTR.png) no-repeat right top;}	

div.newsCat div.boxNewsCat ul{
	height:26px;
	margin:0;
	padding:0;
	padding-top:4px;}

div.newsCat div.boxNewsCat ul li{
	float:left;
	list-style:none;
	font-size:11px;
	height:21px;
	padding:0 15px;
	padding-top:5px;
	background:url(../images/newsCat/subMnSpace.png) no-repeat right 50%}


div.newsCat div.boxNewsCat ul li a:visited
{
	color:red;
}	

div.newsCat div.boxNewsCat ul li a{
	color:#98523c;
	font:bold 11px arial; text-decoration:none;
}	

div.newsCat div.boxNewsCat ul li a:hover
{
	color:red;
}
	
div.newsCat div.boxNewsCat ul li a:active{
	color:red;
	 
}


.google
{
	background: url(../images/google.png);
	width:50px;
	height:12px;
	border:0px;
	cursor:pointer;
}

.yahoo
{
	background: url(../images/yahoo.png);
	width:50px;
	height:12px;
	border:0px;
	cursor:pointer;
}

.next_button
{
	background:url(../images/next.png);
	width:73px;
	height:26px;
	border:0px;
}
.clsRadio
{
	vertical-align: middle; 
	margin-top: 0px;	
}
.focus-txt, .focus-txt2 {border:1px solid #7f9db9; font:11px arial;padding:5px; height:13px;}
.focus-txt {color:#9196A2;}
.focus-txt2 {color:#000000;}

h2.h2,
ul.ul{
	margin:0;
	padding:0;
	list-style:none
}
div.mainCols .mainCols_v2{
	position:relative;
	overflow:hidden
}
div.mainCols .mainCols_v2 .overflow{
	width:1020px;
	padding-top:5px
}
div.mainCols .mainCols_v2 li.box{
	float:left;
	width:326px;
	margin-right:11px;
	margin-bottom:7px
}
div.mainCols .mainCols_v2 li.box.link_list{
	width:978px;
	background:#f9f9f9;
	padding:10px;
	border:1px solid #e2e2e2;
	font-weight:bold;
	line-height:24px;
	text-align:justify;
}
div.mainCols .mainCols_v2 li.box.link_list,
div.mainCols .mainCols_v2 li.box.link_list a:visited,
div.mainCols .mainCols_v2 li.box.link_list a:link{
	color:#004db5;
}
div.mainCols .mainCols_v2 li.box.link_list a:hover,
div.mainCols .mainCols_v2 li.box.link_list a:active{
	color:#fff;
	background:#c00
}
div.mainCols .mainCols_v2 li.box .boxCt{
	border:1px solid #c5eaf9;
	border-top:0;
	padding:1px
}
div.mainCols .mainCols_v2 li.box.promo .boxCt{
	border-color:#ffb24d;
}
div.mainCols .mainCols_v2 li.box .clear{
	border:2px solid #d2d2d2;
	line-height:0
}
div.mainCols .mainCols_v2 li.box .ct{
	padding:5px;
	height:290px;
	position:relative
}
div.mainCols .mainCols_v2 li.box.ads{
	margin-bottom:10px;
	background:#c8d6e8
}
div.mainCols .mainCols_v2 li.box h2.boxTitle{
	font-size:12px;
	text-transform:uppercase;
	background:url(../images/box_bg.gif) no-repeat left top;
	height:24px;
	line-height:23px;
	padding-left:50px;
	color:#FFFFFF;
	font-family:Tahoma;
	position:relative;
}
div.mainCols .mainCols_v2 li.box h2.boxTitle a:visited,
div.mainCols .mainCols_v2 li.box h2.boxTitle a:link{
	color:#fff;
}
div.mainCols .mainCols_v2 li.box h2.boxTitle a:hover,
div.mainCols .mainCols_v2 li.box h2.boxTitle a:active{
	color:#000;
}
div.mainCols .mainCols_v2 li.box h2.boxTitle img{
	position:absolute;
	left:8px;
	bottom:3px;
	border:0;
}

/* ====================================================== */
div.mainCols .mainCols_v2 li.box.bg2 h2.boxTitle{
	background-position:left -24px;
}
div.mainCols .mainCols_v2 li.box.bg3 h2.boxTitle{
	background-position:left -48px;
}
div.mainCols .mainCols_v2 li.box.bg4 h2.boxTitle{
	background-position:left -72px;
}
div.mainCols .mainCols_v2 li.box.bg5 h2.boxTitle{
	background-position:left -96px;
}
div.mainCols .mainCols_v2 li.box.bg6 h2.boxTitle{
	background-position:left -120px;
}
div.mainCols .mainCols_v2 li.box.bg7 h2.boxTitle{
	background-position:left -144px;
}
div.mainCols .mainCols_v2 li.box.bg8 h2.boxTitle{
	background-position:left -168px;
}
div.mainCols .mainCols_v2 li.box.bg9 h2.boxTitle{
	background-position:left -192px;
}
/* ====================================================== */
div.mainCols .mainCols_v2 li.box .subCat li{
	float:left;
	width:45%;
	background:url(../images/buliet1.gif) no-repeat left 8px;
	padding:3px 0;
	padding-left:10px;
	font-weight:bold;
	font-family:Tahoma;
	font-size:11px
}
div.mainCols .mainCols_v2 li.box .subCat a:visited,
div.mainCols .mainCols_v2 li.box .subCat a:link{
	color:#018cc5
}
div.mainCols .mainCols_v2 li.box .subCat a:hover,
div.mainCols .mainCols_v2 li.box .subCat a:active{
	color:#333333;
	text-decoration:underline
}
div.mainCols .mainCols_v2 li.box .nList{
	font-size:11px;
	font-family:Tahoma;
	padding-top:5px;
	padding-top:3px;
}
div.mainCols .mainCols_v2 li.box.promo .nList{
	padding:0;
	font-weight:bold
}
div.mainCols .mainCols_v2 li.box .nList li{
	line-height:20px;
	background:url(../images/arrow1.gif) no-repeat left 7px;
	padding-left:15px;
}
div.mainCols .mainCols_v2 li.box.promo .nList li{
	background:url(../images/box/arrow.gif) no-repeat left 7px;
}

div.mainCols .mainCols_v2 li.box .more{
	position:absolute;
	bottom:1px;
	right:1px
}
div.mainCols .mainCols_v2 li.box .nList a:visited,
div.mainCols .mainCols_v2 li.box .nList a:link{
	color:#002562;
}

div.mainCols .mainCols_v2 li.box .nList a:hover,
div.mainCols .mainCols_v2 li.box .nList a:active{
	color:#990000;
	text-decoration:underline
}
div.mainCols .mainCols_v2 li.box.promo .nList a:visited,
div.mainCols .mainCols_v2 li.box.promo .nList a:link{
	color:#ff9000;
}

div.mainCols .mainCols_v2 li.box.promo .nList a:hover,
div.mainCols .mainCols_v2 li.box.promo .nList a:active{
	color:#000;
}





#idtab {
background: #f0f0f0;
	margin: 0;
	padding: 0;
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}
h2 {font-size: 3em; margin: 20px 0;}
.container {width: 95%; margin: 2px auto;}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 1px;
	-khtml-border-radius-bottomright: 1px;
	-webkit-border-bottom-right-radius: 1px;
	-moz-border-radius-bottomleft: 1px;
	-khtml-border-radius-bottomleft: 1px;
	-webkit-border-bottom-left-radius: 1px;
}
.tab_content 
{
	height: 220px; 
	margin-left: 15px; 
	margin-bottom: 5px; 
	margin-top: 10px;
	padding: 0px;
	font-size: 13px;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
} 